@CHARSET "UTF-8";

* {margin: 0;}
html, body {height: 100%;}
#container {padding:0; min-height:100%; height:auto !important; height:100%; margin:0 auto -61px;}
#wrapper, #nowidthwrapper {padding: 12px 0 40px; margin: 0 auto;}
#wrapper {width:1000px;}

/* Header */
header {background-color:#25609a; height:122px;}
#banner {width:1000px; margin:0 auto;}
#logo {float:left; padding-top:7px;}
#logo > img {margin:20 30 0 0;}
#menu {float:right; margin-top:45;}

/* Navigation */
nav > ul {float:left; width:100%; padding:0; margin:0; list-style-type:none;}
nav > ul > li > a {float:left; text-decoration:none; color:#25609a; background-color:white;
      padding:0.2em 0.6em; border:1px solid black; text-align:center;}
nav > ul > li > a:hover, #navselected {background-color:#25609a; color:white;}
nav > ul > li {display:inline;}
nav > ul > li.dropdown {position:relative;}
nav > ul > li.dropdown > .dropdown {background: #ffffff; list-style: none outside none;
    padding: 5px 5px; display: none; position: absolute; min-width: 130px; z-index: 99999;
    top: 100%; left: 0%; margin: 21 0 0 -55; border: 1px solid #25609a; }
nav > ul > li.dropdown:hover > .dropdown { display: block; z-index: 999999;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10); 
    box-shadow:0 0 3px rgba(0, 0, 0, 0.10); }
nav > ul > li.dropdown li { list-style: none; font-size: 14px; /*line-height: 30px;*/ }
nav > ul > li.dropdown li a { line-height: 30px; height: 30px; font-size: 13px; color:#25609a;
    padding: 0.2em 0.6em;}
nav > ul > li.dropdown li a:hover { background-color:#25609a; color:white; }

/* Profile */
#profileinfo {color:#fea62a; float:right; margin-top:-30; clear:both;}
#profileinfo a {color:#fea62a; }

/* Two-column pages */
#column_container {padding:0; margin:0 0 0 50%; width:50%; float:right;}
#left_col {float:left; width:100%; margin-left:-100%; text-align:center;}
#left_col_inner {padding:10px;}
#right_col {float:right; width:100%; text-align:center;}
#right_col_inner {padding:10px;}

/* Footer */
footer, .push {height:61px; clear:both;}
footer {width: 100%; background-color:#25609a;}
footer p {text-align:center; color:#fea62a; font-size:14; font-weight:bold; padding:20;}
